<h1>Car Dealership</h1>
<form action="/cars" method="post">
  <label for="new-make-model">Make and Model:</label>
  <input id="new-make-model" name="new-make-model" type="text">

  <label for="new-price">Price:</label>
  <input id="new-price" name="new-price" type="number">

  <label for="new-miles">Mileage:</label>
  <input id="new-miles" name="new-miles" type="number">

  <label for="new-details">Details:</label>
  <input id="new-details" name="new-details" type="text">

  <button type="submit">Submit</button>
</form>
