<h1>You've added a new car listing!</h1>
<p>@Model.GetMakeModel()</p>
<p>"$" + @Model.GetPrice()</p>
<p>"Mileage: " + @Model.GetMiles()</p>
<p>@Model.GetDetails()</p>
<p><a href="/">Add another Car</a></p>
<p><a href="/car/list">See all listings</a></p>
